@{
    ViewData["Title"] = "Sorgu Ekranı";
}

<!-- Tarih input alanları ve Sorgula butonu -->
<div class="row" ng-controller="formController">
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label">Başlangıç Tarihi</label>
            <input class="form-control" type="date" name="startDate" ng-model="date.startDate" />
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label">Bitiş Tarihi</label>
            <input class="form-control" type="date" name="endDate" ng-model="date.endDate" />
        </div>
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-end">
        <button type="button" class="btn btn-info" ng-click="getData(date)">
            Sorgula <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<!-- Görüntüle ve Yazdır butonları -->
<div class="row mt-2 justify-content-between" ng-controller="buttonController">
    <div class="col-md-8 d-flex justify-content-start align-items-end align-content-end">
        <button class="btn btn-sm btn-warning" style="width: 105px; height: 40px !important;" ng-click="belgeGoruntule()">
            Görüntüle <i class="fa fa-eye"></i>
        </button>

        <button class="btn btn-sm btn-primary mx-2" style="width: 105px; height: 40px !important;" ng-click="belgeYazdir()">
            Yazdır <i class="fa fa-print"></i>
        </button>

        <button class="btn btn-secondary" style="width: 105px; height: 40px !important;" ng-click="belgeIndir()">
            İndir <i class="fa fa-download"></i>
        </button>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <div class="form-group">
            <label class="form-label">Arama</label>
            <input id="searchBox" class="form-control" type="text" placeholder="Belge Ara..." ng-model="searchKey" ng-keyup="belgeAra()"/>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLabel">Belge Görüntüleme</h5>
                </div>
                <div class="modal-body" ng-bind-html="modalHtmlContent">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Kapat</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Tablo İçeriği -->
<div class="row mt-2" ng-controller="tableController">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="form-check"/>
                </th>
                <th>Belge Numarası</th>
                <th>Alıcı VKN/TCKN</th>
                <th>Alıcı Ünvan/Ad Soyad</th>
                <th>Düzenlenme Tarihi</th>
                <th>Belge Türü</th>
                <th>Onaylı</th>
                <th>İptal/İtiraz Durumu</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="belge in FiltreliBelgeListesi | itemsPerPage: 10" pagination-id="belgePagination">
                <td>
                    <input id="belge_{{belge.belgeNumarasi}}" name="{{belge.ettn}}" type="checkbox" class="form-check belge-check" />
                </td>
                <td>{{belge.belgeNumarasi}}</td>
                <td>{{belge.aliciVknTckn}}</td>
                <td>{{belge.aliciUnvanAdSoyad}}</td>
                <td>{{belge.belgeTarihi}}</td>
                <td>{{belge.belgeTuru}}</td>
                <td class="centered-cell"><button class="btn btn-sm btn-secondary disabled" disabled><i class="fa fa-{{belge.onayDurumu}}"></i></button></td>
                <td class="centered-cell">--------</td>
            </tr>
        </tbody>
    </table>

    <dir-pagination-controls max-size="5"
                             direction-links="true"
                             boundary-links="true"
                             pagination-id="belgePagination">
    </dir-pagination-controls>
</div>


